# keep only VS Code settings and keybindings in the platform-specific packages
vscode-linux/*
!vscode-linux/.config/
vscode-linux/.config/*
!vscode-linux/.config/Code/
vscode-linux/.config/Code/*
!vscode-linux/.config/Code/User/
vscode-linux/.config/Code/User/*
!vscode-linux/.config/Code/User/settings.json
!vscode-linux/.config/Code/User/keybindings.json

vscode-macos/*
!vscode-macos/Library/
vscode-macos/Library/*
!vscode-macos/Library/Application Support/
vscode-macos/Library/Application Support/*
!vscode-macos/Library/Application Support/Code/
vscode-macos/Library/Application Support/Code/*
!vscode-macos/Library/Application Support/Code/User/
vscode-macos/Library/Application Support/Code/User/*
!vscode-macos/Library/Application Support/Code/User/settings.json
!vscode-macos/Library/Application Support/Code/User/keybindings.json

# zsh completion cache
zsh/.zcompdump
zsh/.zcompdump*

# copilot fish
/fish/.config/fish/completions/copilot.fish
